<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles2.css">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <link rel="stylesheet" href="/stylesheets/index.css">
    
    
</head>
<body>
     <article class="contenedor01">
         <h2>Lorem ipsum dolor sit</h2>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi odio, distinctio porro aspernatur molestiae hic libero, ullam inventore velit reiciendis optio quia qui, perferendis provident saepe ducimus aliquid voluptate dignissimos?</p>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum asperiores modi excepturi enim quis corporis. Ratione natus error doloribus esse, quisquam sequi minima aspernatur tempore, nihil sunt sint, reprehenderit accusantium!</p>
     </article>
     <article class="contenedor02">
        <h2>Lorem ipsum dolor sit</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi odio, distinctio porro aspernatur molestiae hic libero, ullam inventore velit reiciendis optio quia qui, perferendis provident saepe ducimus aliquid voluptate dignissimos?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum asperiores modi excepturi enim quis corporis. Ratione natus error doloribus esse, quisquam sequi minima aspernatur tempore, nihil sunt sint, reprehenderit accusantium!</p>
    </article>
</body>
</html>